spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "http://localhost:5173"
                  - "http://localhost:5173"
                allowed-methods:
                  - "GET"
                  - "POST"
                  - "PUT"
                  - "DELETE"
                  - "OPTIONS"
                  - "HEAD"
                  - "PATCH"
                allowed-headers: "*"
                allow-credentials: true

springdoc:
  api-docs:
    groups:
      enabled: true
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    persist-authorization: true
    urls:
      - name: user-service
        url: /api-docs/user-service
      - name: auth-service
        url: /api-docs/auth-service
    disable-swagger-default-url: true
    use-root-path: true
  override-with-generic-response: true
  
